--swiftversion 5.4
--disable blankLinesAroundMark
--enable  blankLinesAtEndOfScope
--disable blankLinesAtStartOfScope
--disable consecutiveBlankLines
--enable  consecutiveSpaces
--enable  indent
--enable  redundantFileprivate
--enable  redundantInit
--enable  redundantParens
--enable  redundantReturn
--disable redundantSelf
--enable  redundantType
--enable  redundantVoidReturnType
--enable  semicolons
--disable sortedImports
--enable  spaceAroundOperators
--enable  spaceInsideBrackets
--disable spaceInsideComments
--enable  spaceInsideParens
--enable  trailingSpace
