<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LibTidy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>console.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>gui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tidy-html5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0692FB01F3CD67D0045AB69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0692FCE1F3CE8CD0045AB69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D06AD6AF1F3CF33E00199B88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0C2D7631F3CE994002551A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0C3BD081F3CB3680007BB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0C3BD111F3CB3690007BB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0C3BDC31F3CC0510007BB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0C3BDD31F3CCA4A0007BB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
