//
// console-objc-Shared.xcconfig
//
//  Created by Jim Derry on 2017/10/20 with help by BuildSettingExtractor
//


// C Language Dialect
// 
// Choose a standard or non-standard C language dialect.
// 
// ANSI C: Accept ISO C90 and ISO C++, turning off GNU extensions that are incompatible.
// [-ansi]
// 
// Incompatible GNU extensions include the 'asm', 'inline', and 'typeof' keywords (but
// not the equivalent __asm__, __inline__, and __typeof__ forms), and the '//' syntax for
// comments.
// 
// This setting also enables trigraphs.
// 
// C89: Accept ISO C90 (1990), but not GNU extensions. [-std=c89]
// 
// GNU89: Accept ISO C90 and GNU extensions. [-std=gnu89]
// 
// C99: Accept ISO C99 (1999), but not GNU extensions. [-std=c99]
// 
// GNU99: Accept ISO C99 and GNU extensions. [-std=gnu99]
// 
// C11: Accept ISO C11 (2011), but not GNU extensions. [-std=c11]
// 
// GNU11: Accept ISO C11 and GNU extensions. [-std=gnu11]
// 
// Compiler Default: Tells the compiler to use its default C language dialect. This is
// normally the best choice unless you have specific needs. (Currently equivalent to
// GNU99.)
// 
// Please see the full GCC manual for the full definition of all these settings on the C
// dialect:
// 
// <http://developer.apple.com/documentation/DeveloperTools/gcc-4.2.1/gcc/C-Dialect-Options.html>

GCC_C_LANGUAGE_STANDARD = gnu89



// Runpath Search Paths
// 
// This is a list of paths to be added to the runpath search path list for the image
// being created.  At runtime, dyld uses the runpath when searching for dylibs whose load
// path begins with '@rpath/'. See [Dynamic Library Programming
// Topics](https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/DynamicLibraries/000-Introduction/Introduction.html).

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path



// Library Search Paths
// 
// This is a list of paths to folders to be searched by the linker for libraries used by
// the product. Paths are delimited by whitespace, so any paths with spaces in them need
// to be properly quoted.

LIBRARY_SEARCH_PATHS = $(inherited) $(SDKROOT)$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks/Swift



// Product Name
// 
// This is the basename of the product generated by the target.

PRODUCT_NAME = $(TARGET_NAME)
