//
// console-objc-Shared.xcconfig
//
//  Created by Jim Derry on 2017/10/20
//


//
// MARK: - APP SETUP AND CONFIGURATION
//

INFOPLIST_FILE = Apps/console-objc/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.balthisar.console-objc
PRODUCT_NAME = $(TARGET_NAME)
WRAPPER_EXTENSION = bundle


//
// MARK: - SEARCH PATHS
//

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
