//
// gui-Shared.xcconfig
//
//  Created by Jim Derry on 2017/10/20 with help by BuildSettingExtractor
//


// App Setup and Configuration
INFOPLIST_FILE = Apps/gui/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.balthisar.gui
PRODUCT_NAME = $(TARGET_NAME)


// Runpath Search Paths
//
// This is a list of paths to be added to the runpath search path list for the
// image being created.  At runtime, dyld uses the runpath when searching for
// dylibs whose load path begins with '@rpath/'.
//
// With this setting, we expect to find required frameworks in the same bundle
// as the application, which is true because of the Copy Frameworks to Bundle
// build phase for this application. Note that frameworks in
// /Library/Frameworks/ and ~/Library/Frameworks/ would be detected
// automatically, too.

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks

