//
// SwLibTidy-Shared.xcconfig
//
//  Created by Jim Derry on 2017/10/20 with help by BuildSettingExtractor
//


//////////////////////////////////////////////////////////
// Framework Setup and Configuration
//////////////////////////////////////////////////////////

INFOPLIST_FILE = SwLibTidyConsole/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.balthisar.SwLibTidyConsole
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)


//////////////////////////////////////////////////////////
// Library and Module Setup
//////////////////////////////////////////////////////////

// Framework Version
FRAMEWORK_VERSION = A

// Installation Directory. This framework can be installed anywhere.
INSTALL_PATH = @rpath


//////////////////////////////////////////////////////////
// Linking
//////////////////////////////////////////////////////////

// Force Embed all of the Swift standard libraries.
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
SWIFT_FORCE_DYNAMIC_LINK_STDLIB = YES
SWIFT_FORCE_STATIC_LINK_STDLIB = NO

