//
// SwLibTidy Tests-Shared.xcconfig
//
//  Created by Jim Derry on 2017/10/20 with help by BuildSettingExtractor
//


INFOPLIST_FILE = SwLibTidyTests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @loader_path/../Frameworks @loader_path/Frameworks
PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_BUNDLE_IDENTIFIER = com.balthisar.LibTidyTests
SWIFT_OPTIMIZATION_LEVEL = -Onone
CLANG_WARN_DOCUMENTATION_COMMENTS = no

//////////////////////////////////////////////////////////
// Cross Platform setup
//////////////////////////////////////////////////////////

SUPPORTED_PLATFORMS = iphonesimulator iphoneos macosx
VALID_ARCHS[sdk=macosx*] = x86_64
VALID_ARCHS[sdk=iphoneos*] = arm64 armv7 armv7s
VALID_ARCHS[sdk=iphonesimulator*] = i386 x86_64
