//
// SwLibTidy Tests-Debug.xcconfig
//
//  Created by Jim Derry on 2017/10/20 with help by BuildSettingExtractor
//

#include "SwLibTidy Tests-Shared.xcconfig"


// Swift Optimization Level
// 
// None: Compile without any optimization. [-Onone]
// 
// Fast, Single-File Optimization [-O]
// 
// Fast, Whole Module Optimization  [-O -whole-module-optimization]

SWIFT_OPTIMIZATION_LEVEL = -Onone
