//
// SwLibTidy-Shared.xcconfig
//
//  Created by Jim Derry on 2017/10/20
//


//
// MARK: - FRAMEWORK SETUP AND CONFIGURATION
//

INFOPLIST_FILE = TidyKit/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.balthisar.TidyKit
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)


//
// MARK: - CODE SIGNING - Required on iOS
//

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
CODE_SIGN_STYLE[sdk=iphoneos*] = Automatic
DEVELOPMENT_TEAM[sdk=iphoneos*] = 9PN2JXXG7Y


//
// MARK: - CROSS PLATFORM SETUP
//

SUPPORTED_PLATFORMS = iphonesimulator iphoneos macosx
VALID_ARCHS[sdk=macosx*] = x86_64 arm64
VALID_ARCHS[sdk=iphoneos*] = arm64 armv7 armv7s
VALID_ARCHS[sdk=iphonesimulator*] = i386 x86_64


//
// MARK: - LIBRARY AND MODULE SETUP
//

// Defines Module. We'll let Xcode generate the module automatically. This
// enables the use of a simple import SwLibTidy.
DEFINES_MODULE = YES

// Framework Version
FRAMEWORK_VERSION = A

// Installation Directory. This framework can be installed anywhere.
INSTALL_PATH = @rpath


//
// MARK: - LINKING
//

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = NO
MACH_O_TYPE                           = staticlib
